reactDjangoWebApp/temp/geographic-units-by-industry-and-statistical-area-2000-2023-descending-order-february-2023.csv filter=lfs diff=lfs merge=lfs -text
backend/temp/SAD.csv filter=lfs diff=lfs merge=lfs -text
