/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling the main container */
.App {
  text-align: center;
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Style adjustments for file input and upload button */
input[type="file"] {
  border: 2px solid #007bff;
  padding: 10px;
  margin: 20px 0;
  width: 220px;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="file"]:hover {
  background-color: #f0f2f5;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

/* Enhanced Table Styling */
table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse; /* Adjusted for border visibility */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
}

th, td {
  text-align: left;
  padding: 16px;
  border-right: 1px solid #ddd; /* Right border for cells */
}

th:last-child, td:last-child {
  border-right: none; /* Remove right border for the last cell */
}

th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e8f4ff;
}

/* Responsive Design Adjustments */
@media screen and (max-width: 600px) {
  table, input[type="file"], button {
    width: 90%;
  }

  th, td {
    padding: 12px;
  }
}

.table-container {
  max-height: 8096px;
  overflow-y: auto;
  margin-bottom: 20px;
  margin-left: auto; /* Centers the table and provides equal margins on both sides */
  margin-right: auto; /* Centers the table and provides equal margins on both sides */
  width: calc(100% - 40px); /* Adjust the width to account for the margin, if needed */
}

